[Unit]
Description=Redis Exporter

[Service]
ExecStart={{ redis_exporter_exec }} \
        -redis.addr {{ redis_exporter_redis_addr }} \
        -redis.password {{ redis_exporter_redis_password }} \
        -web.listen-address {{ redis_exporter_web_listen_address }} \
[Install]
WantedBy=multi-user.target
